
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            overflow: hidden;
            scroll-behavior: smooth;
        }
        body {
            background-color: lavender;
        }
        .filler {
            position: static;
            z-index: auto;

            display: flex;
            align-items: center;
            width: 100vw;
            min-height: 50px;
            padding: 1.2vw 0; 

            font-family: Arial, Helvetica, sans-serif;
            font-size: 1.1em;
            text-indent: 6vw;
            
            border: solid 1px black;
        }
        .ctr-wrapper {
            position: static;
            z-index: auto;

            display: block;
        }
        .ctr-h {
            position: static;
            z-index: auto;

            display: flex;
            align-items: center;
            width: 100vw;
            min-height: 50px;
            padding: 1.2vw 0; 

            font-family: Arial, Helvetica, sans-serif;
            font-size: 1.1em;
            text-indent: 6vw;
            
            border: solid 1px black;
        }
        .ctr-lists {
            position: static;
            z-index: auto;

            display: flex;
            align-items: center;
            width: 100vw;
            padding: 1.2vw 0;
            overflow-x: scroll;

            border: solid 1px black;
        }
        .ctr-list {
            position: static;
            z-index: auto;

            display: flex;
            justify-content: center;
            align-items: center;

            width: 20vw;
            aspect-ratio: 1/1;
            min-width: 100px;
            max-width: 130px;
            min-height: 100px;
            max-height: 130px;
            margin: 10px;
            transition: transform .2s ease;
            
            visibility: hidden;
            border: solid 1px black;

            transform: scale(1);
        }
        .manifest-ctr-list {
            visibility: visible;

        }
        .ctr-vlist {
            position: static;
            z-index: auto;

            display: block;
            aspect-ratio: 16/9;

            height: 100%;
            
            content-visibility: auto;
            object-fit: cover;
            visibility: hidden;

        }
        .manifest-ctr-vlist {
            visibility: visible;

        }
        .sd-pg {
            position: fixed;
            z-index: 1;
            top: 0;
            right: clamp(-100vw,-40vw,-300px);
            /* right: 0; */

            display: block;

            width: 40vw;
            min-width: 300px;
            height: 100vh;
            background-color: aliceblue;
            overflow: visible;

            /* transition: all .5s ease; */
        }
        .sd-btn {
            position: absolute;
            z-index: auto;
            top: 0;
            right: clamp(300px,40vw,100vw);

            display: flex;
            justify-content: center;
            align-items: center;
            width: calc(2.4vw);
            height: calc(2.4vw);
            font-size: 1.7em;
            font-weight: 1000;
            font-family: Arial, Helvetica, sans-serif;
            min-width: 50px;
            min-height: 50px;

            color: black;
            border: solid 1px black;
            border-radius: 0 0 0 30%;
        }
        .sd-wrapper {
            position: static;
            z-index: auto;

            display: block;
            overflow: scroll;
            height: 100vh;
        }
        .visual {
            position: static;
            z-index: auto;

            display: block;
            aspect-ratio: 16/9;
            border: solid 1px black;
            margin: 10px auto;
            width: calc(100% - 20px);
            background-color: rgb(0, 0, 0);
            
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1.1em;
        }
        .media {
            position: static;
            z-index: auto;

            display: block;
            aspect-ratio: 16/9;

            height: 100%;
        }
        .playlist {
            position: static;
            z-index: auto;

            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 10px;
            height: 2.5vw;
            min-height: 50px;

            border: solid 1px black;
        }
        .playlist-icon {
            position: static;
            z-index: auto;

            display: flex;
            justify-content: center;
            align-items: center;
            height: 90%;
            aspect-ratio: 1/1;
            object-fit: cover;

            border: solid 1px black;
        }
        .playlist-holder {
            position: static;
            z-index: auto;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 90%;
            flex-grow: 2;

            border: solid 1px black;
            border-radius: 2px;
        }
        .playlist-holder,.playlist-icon {
            margin: 10px;

        }
        .playlist-title {
            position: static;
            z-index: auto;

            display: block;
            
            font-family: Arial, Helvetica, sans-serif;
            font-size: .7em;
            width: 100%;
            text-align: center;
        }
        .player {
            position: static;
            z-index: auto;

            display: block;
            border: solid 1px black;
            margin: 10px;
            padding: 1.2vw 0; 
        }
        .curr-plyr {
            position: absolute;
            z-index: auto;
            bottom: 0;
            right: 0;

            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 2.5vw;
            min-height: 50px;

            border: solid 1px black;
            background-color: rgb(208, 216, 240);
        }
        .curr-icon , .curr-pause{
            position: static;
            z-index: auto;

            display: flex;
            justify-content: center;
            align-items: center;
            justify-self: stretch;
            height: 90%;
            aspect-ratio: 1/1;
            object-fit: cover;
        }
        .curr-pause {
            font-size: 1.1em;
            font-weight: 1000;
            font-family: Arial, Helvetica, sans-serif;

            border-radius: 10px;
            border: solid 1px black;
        }
        .range-title {
            position: static;
            z-index: auto;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 90%;
            flex-grow: 2;

            border: solid 1px black;
            border-radius: 2px;
        }
        .curr-icon,.range-title,.curr-pause {
            margin: 10px;
        }
        .range {
            position: static;
            z-index: auto;

            display: block;
            width: 100%;
        }
        .title {
            position: static;
            z-index: auto;

            display: block;
            
            font-family: Arial, Helvetica, sans-serif;
            font-size: .7em;
            width: 100%;
            text-align: center;
        }
        .plist-add {
            position: absolute;
            z-index: auto;
            top: 0;
            right: 0;

            display: flex;
            justify-content: center;
            align-items: center;

            min-height: 20px;
            min-width: 20px;
            max-height: 26px;
            max-width: 26px;

            color: white;
            background-color: rgba(190, 119, 207, .4);

            text-shadow: 1px 1px 1px black;

            font-family: Arial, Helvetica, sans-serif;
            font-weight: 500;
        }
        @keyframes sd-btn {
            0% {
                opacity: 1;
            }
            30% {
                opacity: 0;
            }
            100%{
                opacity: 1;
            }
        }
        @keyframes sd_in {
            from {
                right: 0;
            }
            to {
                right: clamp(-100vw,-40vw,-300px);
            }
        }
        @keyframes sd_out {
            from {
                right: clamp(-100vw,-40vw,-300px);
            }
            to {
                right: 0;
            }
        }